body {
    margin: 0;
    padding: 0;
}

.game-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}
.game-wrapper:after {
    padding-top: 75%;
    display: block;
    content: ' ';
}

.game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas {
    float: left;
    height: 100%;
}

img {
    display: none;
}

.controls {
    width: auto;
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: block;

}

.button {
    background: cadetblue;
    float: left;
    height: 50px;
    margin: 0 10px 10px 0;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}
.button:hover {
    background: lightskyblue;
}

.dialog {
    background: deepskyblue;
    padding: 10px;
    margin: 10px;
    width: 270px;
    border-radius: 10px;
    text-align: center;
}

.dialog p {
    margin-top: 0;
}

.dialog .option {
    display: inline-block;
    width: 100px;
    padding: 16px 10px;
    text-align: center;
    background: bisque;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.dialog .option:last-child {
    margin: 0;
}
.dialog .option:hover {
    background: white;
}